%tr
  %td
    = link_to daily_record.transaction_date, daily_record
  %td
    = daily_record.budget
  %td
    = number_with_precision(daily_record.line_items.sum(:amount), :precision => 2)
  %td
    = daily_record.notes
  %td
    = link_to 'Edit', edit_daily_record_path(daily_record)
  %td
    = link_to 'Delete', daily_record_path(daily_record),
      :data => { :method => :delete, :confirm => 'Delete this record?' }