-#
-# locals:
-#   line_item
-#

%tr{:id => "line-item-#{line_item.id}"}
  %td.mdl-data-table__cell--non-numeric= line_item.description
  %td= number_with_precision(line_item.amount, :precision => 2)
  %td.mdl-data-table__cell--non-numeric
    = link_to icon('edit', :class => 'md-18'), [:edit, line_item]
    &nbsp;&nbsp;
    = link_to icon('delete', :class => 'md-18'), line_item,
      :data => {:method => :delete, :confirm => 'Delete this record?'}
