.mdl-grid
  .mdl-cell.mdl-cell--4-col
  .mdl-cell.mdl-cell--4-col
    .mdl-grid.mdl-grid--no-spacing
      .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
        .mdl-card__title
          .mdl-card__title-text
            .mdl-typography--display-1 Sign In

        = form_for resource, :as => resource_name,
            :url => session_path(resource_name) do |f|

          .mdl-card__supporting-text
            .mdl-textfield.mdl-js-textfield.mdl-textfield--full-width
              = f.email_field :email, :autofocus => true,
                :class => 'mdl-textfield__input'
              = f.label :email, 'Email',
                :class => 'mdl-textfield__label'
              %span.mdl-textfield__error Invalid Email

            .mdl-textfield.mdl-js-textfield.mdl-textfield--full-width
              = f.password_field :password,
                :class => 'mdl-textfield__input'
              = f.label :password, 'Password',
                :class => 'mdl-textfield__label'

          .mdl-card__actions.mdl-card--border
            = button_tag icon('arrow_forward'),
              :type => :submit,
              :class => 'mdl-button mdl-js-button mdl-button--primary mdl-button--fab mdl-button--mini-fab'
