.page-header
  .row
    .span5
      %h3
        = "#{Date::MONTHNAMES[@selected_month.to_i]} #{@selected_year}"
      %dl.dl-horizontal
        %dt Total Budget
        %dd
          = @daily_records.sum(:budget)
        %dt Total Expenses
        %dd
          = @daily_records.sum(:expenses)

    .span7#page-buttons
      .pull-right
        = link_to 'New Record', new_daily_record_path, :class => 'btn btn-primary'

.row
  = render :partial => 'archive',
    :locals => { :archive => @archive, :selected_year => @selected_year,
      :selected_month => @selected_month }

  .span10
    %table.table.table-striped.table-hover.table-condensed
      %thead
        %tr
          %th Transaction Date
          %th Budget
          %th Expenses
          %th Notes
          %th
      %tbody
        = render DailyRecordDecorator.decorate_collection(@daily_records.sort.reverse)