.page-header
  .row
    .span5
      %h3
        = "#{Date::MONTHNAMES[@selected_month.to_i]} #{@selected_day}, #{@selected_year}"

    .span7#page-buttons
      .pull-right
        = link_to 'Edit Record', edit_daily_record_path(@daily_record),
          :class => 'btn btn-primary'
        = link_to 'Back to Transactions', daily_records_path, :class => 'btn'

.row
  = render :partial => 'archive',
      :locals => { :archive => @archive, :selected_year => @selected_year,
        :selected_month => @selected_month }

  .span10
    %dl.dl-horizontal
      %dt Budget
      %dd
        = @daily_record.budget
      %dt Expenses
      %dd#record-expenses
        = render :partial => 'daily_records/total_expenses',
          :locals => { :daily_record => @daily_record }
      %dt Notes
      %dd
        = @daily_record.notes

    .pull-left
      %h4 Expenses
    .pull-right
      = link_to "Add Line Item", new_daily_record_line_item_path(@daily_record),
        :data => { :remote => true }, :class => 'btn btn-primary btn-small'

    .clearfix

    %table
      %thead
        %tr
          %th Description
          %th Amount
          %th
      %tbody#line-item-list
        = render :partial => 'line_items/line_item',
          :collection => @daily_record.line_items.decorate