%tr{ :id => "line-item-#{line_item.id}"}
  %td
    = line_item.description
  %td
    = line_item.amount
  %td
    = link_to 'Edit', edit_daily_record_line_item_path(line_item.daily_record, line_item),
      :data => { :remote => true }
    = link_to 'Delete', daily_record_line_item_path(line_item.daily_record, line_item),
      :data => { :method => :delete, :confirm => 'Delete this record?' }