<!DOCTYPE html>
%html
  %head
    %title FinanceTracker
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      = render :partial => 'shared/nav'

      .mdl-layout__content
        = render :partial => 'shared/alerts'
        = yield
